* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  background-color: #121212;
}
.header .logo {
  margin-left: 220px;
}
.header .header-nav {
  color: #FFFFFF;
  list-style: none;
  margin-right: 220px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.header .header-nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
.header .header-nav ul li {
  cursor: pointer;
}

@media only screen and (max-width: 991.98px) {
  .header .logo {
    margin-left: 100px;
  }
  .header .header-nav {
    margin-right: 100px;
  }
}
@media only screen and (max-width: 767.98px) {
  .header .logo {
    margin-left: 0;
  }
  .header .header-nav {
    margin-right: 20px;
  }
}
.intro {
  display: flex;
  justify-content: center;
  height: 680px;
  background-color: #121212;
}
.intro .intro-info {
  color: #FFFFFF;
  margin-left: 220px;
}
.intro .intro-info h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  max-width: 578px;
  margin-top: 196px;
  margin-bottom: 36px;
}
.intro .intro-info p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #b3b3b3;
  margin-bottom: 36px;
  max-width: 553px;
}
.intro .intro-info button {
  width: 181px;
  height: 56px;
  background-color: #FFBB00;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.intro .intro-img {
  margin-right: 140px;
}

@media only screen and (max-width: 991.98px) {
  .intro {
    align-items: center;
  }
  .intro .intro-info {
    margin-left: 100px;
    margin-right: 20px;
  }
  .intro .intro-img {
    margin-right: 70px;
  }
  .intro .intro-img img {
    width: 320px;
    height: 400px;
  }
}
@media only screen and (max-width: 767.98px) {
  .intro {
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  .intro .intro-info {
    margin-left: 0px;
  }
  .intro .intro-img {
    display: none;
  }
}
.your-choose {
  padding: 0 70px;
  margin-top: 234px;
}
.your-choose h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 48px;
}
.your-choose .choose-info {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.your-choose .choose-info .choose-item h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.your-choose .choose-info .choose-item p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #595959;
}

@media only screen and (max-width: 991.98px) {
  .your-choose h2 {
    font-size: 56px;
  }
  .your-choose .choose-info {
    flex-wrap: wrap;
  }
  .your-choose .choose-info .choose-item {
    width: 100%;
  }
}
@media only screen and (max-width: 767.98px) {
  .your-choose h2 {
    font-size: 48px;
  }
  .your-choose .choose-info .choose-item {
    flex: 1;
  }
}
.advance {
  display: flex;
  gap: 50px;
  margin-top: 210px;
  background-color: #121212;
  color: #FFFFFF;
  position: relative;
}
.advance .advance-info {
  width: 34vw;
  margin-left: 220px;
  margin-top: 80px;
}
.advance .advance-info span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #b3b3b3;
  text-transform: uppercase;
  margin-top: 80px;
  margin-bottom: 20px;
}
.advance .advance-info h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  max-width: 549px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.advance .advance-info p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #b3b3b3;
  margin-bottom: 20px;
}
.advance .advance-info button {
  background-color: #121212;
  color: #FFBB00;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  border-bottom: 4px solid #FFBB00;
  margin-bottom: 80px;
}
.advance .advance-info .more-info {
  display: flex;
  gap: 40px;
  text-align: normal;
}
.advance .advance-info .more-info h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 9px;
  margin-bottom: 8px;
}
.advance .advance-info .more-info p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 88px;
}
.advance .advance-img {
  position: absolute;
  top: -80px;
  right: 80px;
}

@keyframes fadeIn {
  from {
    right: -80px;
  }
  to {
    right: 0px;
  }
}
@media only screen and (max-width: 1136px) {
  .advance .advance-info {
    width: 100%;
    margin-right: 100px;
  }
  .advance .advance-img img {
    display: none;
  }
}
@media only screen and (max-width: 991.98px) {
  .advance .advance-info {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 767.98px) {
  .advance .advance-info {
    margin-left: 30px;
  }
  .advance .advance-info .more-info {
    display: block;
  }
}
.partners {
  margin-top: 200px;
}
.partners h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  margin-left: 220px;
  margin-bottom: 60px;
}
.partners .partners-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.partners .partners-wrapper .partner-item {
  width: 348px;
  height: 130px;
  padding: 50px 100px;
  border-right: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
  animation: fade-right 1s ease-in-out;
}
.partners .partners-wrapper .partner-item:nth-child(4n) {
  border-right: none;
}
.partners .partners-wrapper .partner-item:nth-child(n+5) {
  border-bottom: none;
}
.partners .partners-wrapper .partner-item:nth-child(1) {
  animation-delay: 0.2s;
}
.partners .partners-wrapper .partner-item:nth-child(2) {
  animation-delay: 0.4s;
}
.partners .partners-wrapper .partner-item:nth-child(3) {
  animation-delay: 0.6s;
}
.partners .partners-wrapper .partner-item:nth-child(4) {
  animation-delay: 0.8s;
}
.partners .partners-wrapper .partner-item:nth-child(5) {
  animation-delay: 1s;
}
.partners .partners-wrapper .partner-item:nth-child(6) {
  animation-delay: 1.2s;
}
.partners .partners-wrapper .partner-item:nth-child(7) {
  animation-delay: 1.4s;
}
.partners .partners-wrapper .partner-item:nth-child(8) {
  animation-delay: 1.6s;
}
.partners .partners-wrapper .partner-item:nth-child(9) {
  animation-delay: 1.8s;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media only screen and (max-width: 1440px) {
  .partners .partners-wrapper .partner-item {
    border: none;
  }
}
@media only screen and (max-width: 968px) {
  .partners h2 {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 767.98px) {
  .partners h2 {
    margin-left: 0;
  }
}
.bio {
  height: 680px;
  display: flex;
  background-color: #FFBB00;
  margin-top: 120px;
}
.bio .bio-content {
  margin-left: 40px;
}
.bio .bio-content p {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
  font-style: italic;
  margin-top: 296px;
  max-width: 600px;
}
.bio .bio-content span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #a66f00;
  margin-top: 12px;
}

@media only screen and (max-width: 1440px) {
  .bio {
    display: inline-block;
    background-color: unset;
  }
  .bio .bio-img img {
    width: 100%;
  }
  .bio .bio-content {
    margin-bottom: 30px;
  }
}
.safety {
  background-color: #121212;
  color: #FFFFFF;
  padding-left: 220px;
}
.safety h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 72px;
  padding-top: 60px;
  margin-bottom: 104px;
}
.safety .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
}
.safety .head p {
  color: #9c9c9c;
}
.safety .head .div-price {
  display: flex;
  flex-direction: column;
}
.safety .head .div-price .price {
  color: #fff;
}
.safety .head .div-price span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #9c9c9c;
}
.safety .left,
.safety .right {
  display: inline-block;
  width: 40%;
  padding: 20px 32px 44px 40px;
  background-color: #000000;
}
.safety .left {
  margin-right: 40px;
}
.safety .left button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  background-color: #121212;
  color: #cccccc;
  margin-top: 32px;
  margin-left: 60px;
  padding: 16px 32px;
}
.safety .right {
  margin-right: 40px;
}
.safety .right p {
  color: #FFBB00;
}
.safety .right button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  background-color: #FFBB00;
  color: #121212;
  margin-top: 32px;
  margin-left: 60px;
  padding: 16px 32px;
  border-radius: 5px;
  margin-bottom: 164px;
}
.safety ul {
  margin-top: 28px;
}
.safety ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 991.98px) {
  .safety {
    padding-left: 100px;
  }
}
@media only screen and (max-width: 767.98px) {
  .safety {
    padding-left: 60px;
  }
  .safety .left, .safety .right {
    display: block;
    width: 100%;
  }
}
.footer {
  background-color: #121212;
  color: #FFFFFF;
  padding-top: 62px;
  padding-bottom: 32px;
  padding-left: 222px;
}
.footer .wrapper {
  display: flex;
  flex-wrap: wrap;
}
.footer .wrapper .logo {
  display: inline-block;
  margin-right: 164px;
  margin-bottom: 50px;
}
.footer .wrapper .contact {
  display: inline-block;
  margin-right: 272px;
}
.footer .wrapper .contact .social {
  margin-top: 36px;
}
.footer .wrapper .contact .social img {
  margin-right: 32px;
  cursor: pointer;
}
.footer .wrapper .information {
  display: inline-block;
}
.footer .wrapper h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.footer .wrapper p,
.footer .wrapper li,
.footer .wrapper a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #b3b3b3;
}
.footer .slogan {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #9c9c9c;
  margin-left: 160px;
  margin-top: 80px;
}

@media only screen and (max-width: 991.98px) {
  .footer {
    padding-left: 100px;
  }
  .footer .wrapper .contact {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767.98px) {
  .footer .wrapper {
    flex-direction: column;
  }
  .footer .wrapper .logo {
    margin-right: 0;
  }
  .footer .wrapper .contact {
    margin-right: 0 !important;
    margin-left: 0;
  }
  .footer .slogan {
    margin-left: 10px;
  }
}

/*# sourceMappingURL=app.css.map */
