.footer {
  background-color: $primary-color;
  color: $text-color;
  padding-top: 62px;
  padding-bottom: 32px;
  padding-left: 222px;

  .wrapper {
    display: flex;
    flex-wrap: wrap;

    .logo {
      display: inline-block;
      margin-right: 164px;
      margin-bottom: 50px;
    }
    .contact {
      display: inline-block;
      margin-right: 272px;
      .social {
        margin-top: 36px;
        img {
          margin-right: 32px;
          cursor: pointer;
        }
      }
    }
    .information {
      display: inline-block;
    }

    h3 {
      font-family: $font-rob;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      text-transform: uppercase;
      margin-bottom: 32px;
    }
    p,
    li,
    a {
      font-family: $font-rob;
      font-weight: 400;
      font-size: 18px;
      line-height: 36px;
      color: #b3b3b3;
    }
  }
  .slogan {
    font-family: $font-rob;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #9c9c9c;
    margin-left: 160px;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 991.98px) {
  .footer {
    padding-left: 100px;
    .wrapper {
      // justify-content: space-between;
      // display: block;

      .contact {
        margin-left: 0;
      }
    }
  }
}
@media only screen and (max-width: 767.98px) {
  .footer {
    .wrapper {
      flex-direction: column;

      // justify-content: space-between;
      // display: block;
      .logo {
        margin-right: 0;
      }
      .contact {
        margin-right: 0 !important;
        margin-left: 0;
      }
    }
    .slogan {
      margin-left: 10px;
    }
  }
  
}
